*{
    padding: 0;
    margin: 0;
}
:root {
    --main-font: 'Montserrat', sans-serif;
}
body {
    max-width: 1100px;
    margin: 0 auto;
    font-family: var(--main-font);
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header__bloc {
    display: flex;
    background-color: white;
    padding: 30px 0 0 0;
}
.header__title {
    margin: 0 78px 0 0;
}
.header__menu {
    font-size: 14px;
    line-height: 24px;
    padding: 5px 0 0 0;
}
.menu-header {
    display: flex;
    list-style-type: none;
}
.menu-header__name {
    color: #737373;
    margin: 0 10px 0 0;
}
.header__button {
    display: flex;
    margin: 0 0 0 20%;
    padding: 5px 0 0 0;
}
.icon-header__white{
    display: none;
}
.header__link {
    margin: 0 20px 0 0;
}
.title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
}
.link{
    font-weight: 700;
    font-size: 14px;
    padding: 15px 25px 15px 25px;
    color: #96BB7C;
}
.link:hover{
    padding: 15px 25px 15px 25px;
    background-color: #96BB7C;
    color: white;
}
.header__link:hover .icon-header__white {
    display: inline;
}
.link-hover{
    background-image: url(img/Vector_green.png);
    background-position: right;
    background-repeat: no-repeat;
    width: 12px;
    height: 10px;
}
a{
    text-decoration: none;
    color: black;
}

.home{
    margin: 10px 0 0 0;
}
.home__bloc1{
    display: flex;
}
.home__link__joinus{
    padding: 92px 0 0 0;
}
.link-home{
    font-weight: 700;
    font-size: 16px;
    color: #96BB7C;
}
.home__headline{
    margin: 35px 0 35px 0;
    width: 542px;
    height: 160px;
}
.title-students{
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    color: #252B42;
}
.home__text{
    width: 496px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
}
.home__button{
    display: flex;
    margin: 35px 0 0 0;
}
.home__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 52px;
    border: 1px solid #96BB7C;
    border-radius: 5px;
    margin: 0 10px 0 0;
}
.home__link:hover{
    background-color: #96BB7C;
}
.home__img{
    z-index: -1;
}
.home__rectangle{
    width: 520px;
    height: 626.4px;
    /* right: 200px; */
    bottom: 0px;
    background: #FFF2F3;
    border-radius: 50px;
}
.placeholder{
    transform: translate(-200px, 0);
}
.home__bloc2{
    display: flex;
    justify-content: space-between;  
    transform: translate(0, -60px); 
}
.home__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 20px;
    width: 328px;
    height: 296px;
    background: #FFFFFF;
    margin: 0 30px 0 0;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.home__circle_img {
    padding: 15px 0 0 0;
}
.home__feature {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.line{
    width: 50px;
    height: 2px;
    background: #E74040;
    margin: 20px 0 0 0;
}
.home__paragraph {
    width: 222px;
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
