*{
    padding: 0;
    margin: 0;
}
:root {
    --main-font: 'Montserrat', sans-serif;
}
body {
    font-family: var(--main-font);
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
h1{
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    color: #252B42;
}
h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
}
h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
h4{
    width: 496px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #737373;
}
h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
header {
    background: #FAFAFA;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header__block {
    display: flex;
    padding: 30px 0 5px 0;
}
.header__title {
    padding: 0 78px 0 0;
}
.header__menu {
    font-size: 14px;
    line-height: 24px;
    padding: 5px 0 0 0;
}
.menu-header {
    display: flex;
    list-style-type: none;
}
.menu-header__name {
    color: #737373;
    margin: 0 10px 0 0;
}
.header__button {
    display: flex;
    margin: -8px 0 0 20%;
    gap: 20px;
}
.icon-header__white{
    display: none;
}
.link{
    padding: 15px 40px 15px 40px;
}
.link:hover{
    padding: 15px 25px 15px 25px;
    background-color: #96BB7C;
    color: white;
}
.link:hover .icon-header__white {
    padding: 0 0 0 10px;
    display: inline;
}
.link-information{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #96BB7C;
}
a{
    text-decoration: none;
    color: black;
}
.home{
    background: #FAFAFA;
    padding: 10px 0 0 0;
}
.home__block1{
    display: flex;
}
.home__link__joinus{
    padding: 92px 0 0 0;
}
.link-home{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #96BB7C;
}
.home__headline{
    margin: 35px 0 35px 0;
    width: 542px;
    height: 160px;
}
.home__button{
    display: flex;
    margin: 35px 0 0 0;
}
.home__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 52px;
    border: 1px solid #96BB7C;
    border-radius: 5px;
    margin: 0 10px 0 0;
}
.home__link:hover{
    z-index: 1;
    background-color: #96BB7C;
}
.home__link:hover .link{
    background-color: #96BB7C;
}
.home__rectangle{
    width: 520px;
    height: 626.4px;
    bottom: 0px;
    background: #FFF2F3;
    border-radius: 50px;
}
.placeholder{
    transform: translate(-200px, 0);
}
.home__block2{
    display: flex;
    justify-content: space-between;  
    transform: translate(0, -60px); 
}
.home__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 20px;
    width: 328px;
    height: 296px;
    background: #FFFFFF;
    margin: 0 30px 0 0;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.home__circle_img {
    padding: 15px 0 0 0;
}
.line{
    width: 193px;
    height: 2px;
    background: #E74040;
    margin: 20px 0 0 0;
}
.home__paragraph {
    width: 222px;
    height: 60px;
}
.product { 
    box-flex-group: #fff;
}
.product__stats {
    display: flex;
    justify-content: center;

    margin: 80px 0 80px 0;
    Gap: 10px;
}
.product__statistics {
    text-align: center;
    Width: 238px;
    Height: 104px;
}
.product__metrics {
    color: #96BB7C;
}
.product__customer_orientation {
    display: flex;
    justify-content: space-between;  
    padding: 160px 0 0 0;
}
.product__customer_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    margin: 89px 0 0 0;
}
.line_client{
    margin: 0 0 35px 0;
    width: 94px;
    height: 7px;
    background: #E74040;
}
.product__paragraph {
    width: 351px;
    height: 60px;
}
.product__learn_more {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-more{
    display: flex;
    padding-right: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #96BB7C;
}
.img-arrow{
    display: flex;
    padding: 0 0 0 10px;
    Width: 8px;
    Height: 16px;
}
.product__technology {
    padding: 0 0 177px 0;
}
.pricing {
    background-color: #FFF2F3;
}
.pricing__main_content {
    display: flex;
    justify-content: space-between; 
    padding: 160px 0 0 0;
}
.pricing__main_position{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.pricing__main_paragraph {
    width: 469px;
    height: 40px;
}
.pricing__product {
    display: flex;
    margin: 80px 0 0 0;
    padding: 0 0 160px 0;
    gap: 10px
}
.pricing__cover1 {
    background-image: url(images/pricing/product-cover1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    Width: 348px;
    Height: 300px;
}
.pricing__cover2 {
    background-image: url(images/pricing/product-cover2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    Width: 348px;
    Height: 300px;
}
.pricing__cover3 {
    background-image: url(images/pricing/product-cover3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    Width: 348px;
    Height: 300px;
}
.pricing__button {
    text-align: left;
    padding: 20px 0 0 30px;
    width: 51px;
    height: 24px;

}
.button-sale {
    padding: 5px 10px 5px 10px;
    background: #E74040;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: white;
}
.pricing__product_actions {
    display: flex;
    justify-content: center;
    margin: 192px 0 0 0;
    gap: 10px;
}
.pricing__like {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 44.7857px;   
}
.pricing__basket {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 44.7857px; 
}
.pricing__reviewed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 44.7857px; 
}
.pricing__frame {
    Width: 348px;
    Height: 300px;
    padding: 26px 0 0 0;
    background-color: #fff;
}
.pricing__product_category {
    display: flex;
    height: 26px;
    justify-content: space-between;
    align-items: center;
}
.link-category {
    margin: 0 0 0 25px;
    color: #96BB7C;
}
.pricing__emojione {
    margin: 0 25px 0 0;
    display: flex;
    background: #2D4059;
    color: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 26px;
}
.pricing__product_title {
    padding: 11px 0 0 25px;
}
.pricing__product_description {
    width: 260px;
    height: 60px;
    padding: 10px 0 0 25px;
}
.pricing__sales {
    display: flex;
    padding: 10px 0 0 25px;
    gap: 15px;
}
.vector-dowland {
    padding: 3px 0 0 0;
    width: 16px;
    height: 16px;
}
.pricing__sales_text {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.pricing__price {
    display: flex;
    padding: 15px 0 0 25px;
    gap: 5px;
}
.pricing__price_text1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #BDBDBD;
}
.pricing__price_text2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFAB71;
}
.pricing__button_information {
    display: flex;
    margin: 15px 0 0 25px;
    justify-content: center;
    align-items: center;
    width: 141.14px;
    height: 44px;
    border: 1px solid #96BB7C;
    border-radius: 37px;
}
.img-arrows {
    padding: 0 0 0 10px;
    Width: 9.14px;
    Height: 16px;
}
.contact {
    background-color: #FFFFFF;
}
.contact__layout1 {
    padding: 160px 0 164px 0;
}
.contact__main_content {
    padding: 0 0 80px 0;
    display: flex;
    justify-content: space-between; 
}
.contact__main_position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.contact__main_paragraph {
    width: 469px;
    height: 40px;
}
.contact__testimonials_card {
    display: flex;
}
.contact__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 348px;
    height: 317.01px;
    background: #FFFFFF;
}
.contact__rating {
padding: 57px 0 17px 0;
}
.img-rating{
    Width: 18.34px;
    Height: 18.35px;
}
.contact__paragraph {
    width: 159px;
    height: 120px;
    text-align: center;
}
.contact__user {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 0 25px 0;
    gap: 15px;
}
.contact__specialist{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.contact__layout2{
    padding: 113px 0 134px 0;
}
.contact__main_content2 {
    padding: 0 0 102px 0;
    display: flex;
    justify-content: space-between; 
}
.contact__main_position2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.contact__main_paragraph2 {
    width: 469px;
    height: 40px;
}
.contact__bloc_user_card {
    display: flex;
    gap: 30px;
}
.conflict__user_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 375px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
.img-user{
    border-radius: 20px 20px 0 0;
}
.conflict__user_title {
    padding: 30px 0 10px 0;
}
.contact__user_paragraph {
    font-size: 12px;
    line-height: 16px;
}
.conflict__bloc_icon {
    display: flex;
    padding: 11px 0 0 0;
    gap: 22px;
}
.contact__layout3 {
    margin: 160px 0 180px 0;
    text-align: center;
}
.contact__main_content3 {
text-align: center;
}
.contact__main_position3 {
    text-align: center;
}
.contact__main_link3 {
    display: flex;
    justify-content: center;
}
.contact__main_title3 {
    padding: 10px 0 10px 0;
}
.contact__main_paragraph3 {
    display: flex;
    justify-content: center;
}
.paragraph-loyout3{
    width: 469px;
    height: 40px;
}
.contact__button_subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 0 0 0;
}
.email-field{
    padding: 0 0 0 20px;
    Width: 571px;
    Height: 58px;
    box-sizing: border-box;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
}
.submit-email{
    cursor: pointer;
    Width: 117px;
    Height: 58px;
    background: #96BB7C;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

.contact__layout4 {
    display: flex;
    padding: 50px 0 52px 0;
    gap: 30px;
}
.contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 148px;
    height: 170px;
}
.contact__data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 321px;
    height: 162px;
}
.contact__block_info {
    display: flex;
    justify-content: space-between; 
}
.contact__info_position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.tel{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    gap: 10px;
}
.mailto{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    gap: 10px;
}
.adress{
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 10px;
}
.wigth-contact{font-weight: 700;}
.footer {
    padding: 25px 0 25px 0;
    background-color: #FAFAFA;;
}
.footer__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 0;
}
.footer__block_icons {
    display: flex;
    gap: 22px;
}